@model IEnumerable<Repository.Models.Category>

<nav class="categories-left">
    <ul>
        @foreach(var cat in Model)
        {
            <li>
                <a href="@Url.Action("List", "Store", new { categoryID = cat.CategoryID.ToString() }) ">
                    <img src="~/Content/Icons/@cat.IconFilename" />
                    @cat.Name
                </a>
            </li>
        }
    </ul>
</nav>