@model IEnumerable<SklepSportowy.Models.Product>

<div id="productlist-section">
    <ul class="products-line">
        @foreach (var pro in Model)
        {
            
                <li>@pro.Name</li>
                <li>@pro.Price</li>
                <li>
                    <article>
                        <a class="addtocartlink" href="@Url.Action("AddToCart", "Cart", new {id = pro.ProductID })">Dodaj do koszyka</a>
                    </article>
                </li>
            
        }
    
    </ul>

</div>
